*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 30px;
}

#root > div {
  display: grid;
  grid-template-rows: 15% 79% 6%;
  height: 100vh;
  width: 100vw;
}

/******** Header ********/

header {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #e8e8d0;
}

#logo {
  height: 110px;
  padding-right: .7rem;
}

#title h1 {
  font-size: 1.5rem;
}

#title h3 {
  font-size: .7rem;
}

#alert {
  margin-left: auto;
}

#scoreboard {
  margin-left: auto;
}

#scoreboard p {
  text-align: right;
}

/******** Main ********/

main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.8rem 0;
  background: linear-gradient(#e8dcd0, #cfb59d);
}

.restart-flash {
  animation: restart-flash .5s ease-out 0s;
}

.card {
  height: 290px;
  width: 290px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
  border-radius: .25rem;
  transition: box-shadow .2s;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, .4);
}

@keyframes restart-flash {
  from {
    background-color: red;
  }
  to {
    background-color: bisque;
  }
}

/******** Footer ********/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cfce9d;
}
